/* HTML5 Boilerplate  */


/* container and blocks */

body {
width: 100%;
}

header {
font-size: 20px;
text-align: center;
padding: 30px;


}

h1 {
color: #999;
}

#main {
border: 1px #fff solid;
height: 600px;
width: 100%;
min-width: 535px;
}


/* Your Song Div */
#your_song {
border: 1px #000 solid;
width: 100%;
height: 200px;

}





/* Song List Div */

#song_list {
width: 100%;
height: 400px;
border: 1px #fff solid;
text-align: center;
}

#song_list ul {
/* max-height: 160px;
overflow: hidden; */

}

li.song_container {
width: 150px;
height: 200px;
border: 1px #fff solid;
display: inline-block;
padding: 2px;
}

.play_song {
width: 150px;
height: 150px;

}


.vote img {
width: 30px;
height: 30px;

}

/* Player List Div */

#player_list {
width: 100%;
height: 200px;
border: 1px #fff solid;
text-align:center;
}

.avatar img{
width: 100%;
height: 100%;
}

li.player {
width: 100px;
height: 100px;
border: 1px #fff solid;
display: inline-block;
}



/* Question to individual */.


p.question {
color: #fff;
margin: 0px 0px 0px 0px;
}




/* Enemeies Block  */
.enemies {
margin: 40px 0 0 0;
}

form.enemy_block {
margin: 10px 0 0 0;
padding: 10px 0px 0px 0px;

}


input.enemy {

margin: 10px 0px 10px 0px;

}

img.thumb {
width: 20px;
height: 20px;
}


/* ----- WIN SCREEN ----- */

.head {
	left: 90px;
	top: 120px;
	display: none;
	position:absolute;
	z-index: 1;


}

.ninja {
  left: 0px;
  top: 120px;
  display: none;
  position: absolute;
  z-index: 0;

}


.win_text{
display: none;
top: 10px;
float: right;
position: absolute;
z-index: 2


/* ----- END OF WIN SCREEN -----  */


/* RULES */


#rules {
text-align:left;
width: 70%;
margin: 0px auto;

}


/* END OF RULES */



@media only screen and (min-width: 35em) {
  

}

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}


