/* HTML5 Boilerplate  */


/* container and blocks */

body {
width: 100%;
}

header {
font-size: 20px;
text-align: center;
background-image:url("images/nav_tile.png");
background-repeat: repeat-x;
height: 45px;
width: 100%;
clear: both;
padding: 12px 0 0 0;

}

#nav {
	display: none;
	background-image:url("images/tab_bar.png");
	background-repeat: repeat-x;
	height: 30px;
	width: 100%;
	padding: 0px 0px 0 0;
	text-align: center;
}

#nav li {
	display: inline;
	color: #fff;
	padding: 3px 10px;
	border: 1px solid #000;
	background: #000;
	text-align: center;
	-webkit-border-radius: 3px;
}
#nav li:active {
	display: inline;
	padding: 3px 10px;
	border: 1px solid #000;
	background: #000;
	text-align: center;
	-webkit-border-radius: 3px;
	color: #fff;
}

h1 {
color: #999;
}

#main {
border: 1px #fff solid;
height: 600px;
width: 100%;
min-width: 535px;
}





/* Your Song Div */




#your_song {
border: 1px #000 solid;
width: 100%;
height: 100px;

}



#registration {
width: 100%;
font-style: helvetica;

}

/* welcome screen */
#welcome_screen {

}

h1.intro_title {
margin: 60px 0 45px 0px;
text-align: center;
font-size: 50px;
line-height: 20px;
}

p.intro_copy {
margin: 20px auto;
font-size: 20px;
line-height: 28px;
width: 600px;
}

#register_form {
margin: 45px 0 0 0;
text-align: center;
display: block;

}

input#username {
width: 200px;
padding: 4px 10px;
text-align: left;
font-style: italic;
font-size: 18px;
}

#register_btn {
background: #80bb00;
-webkit-border-radius: 5px;
border-radius: 5px;
padding: 8px 20px;

}

/* see question screen */
.select_song {
background: #252525;
-webkit-border-radius: 5px;
border-radius: 5px;
margin: 80px auto;
width: 600px;
height: 100px;
padding: 2px 0 0 20px;
font-size: 10pt;


}


#round_and_question {
width: 620px;
clear:both;
margin: 20px auto;
padding: 20px;
}


#round {
float: left;
text-align: center;
background: #252525;
padding: 10px 4px;
width: 140px;
-webkit-border-radius: 5px;
border-radius: 5px;
}


#current_question {
	font-size: 22px;
	float: right;
	margin: 18px 0 0 0;
	color: #fff;
}

#submission_input {
	width: 300px;
	background: #9c9c9c;
	margin: 0px auto;
	padding: 0px 0px 0px 10px;
	border: 1px solid #9c9c9c;
	margin: 15px 0 0 0;
	color: #000;
}

#submit_btn {
	width: 28px;
	text-align:center;
	color: black;
	background-image: url("images/search_button.png");
	-webkit-border-radius: 5px;
}

.your_opponents {
	margin: 0px auto;
	width: 600px;
	clear: both;
	background: #252525;
	padding: 20px 0 0 20px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-size: 10pt;

}



/* PREVIEW SONG STATE */
.preview_song {
	width: 600px;
	height: 180px;
	margin: 20px auto;
	padding: 20px 10px;
	clear: both;
	background: #252525;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.preview_song .preview_song_left {
	float: left;
	width: 150px;
	height: 150px;	
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #000;
	margin: 8px 0 0 10px;
}

.preview_song .preview_song_right {
	float: right;
	display: inline;
	margin: 134px 0 0 0;
}

#song_and_artist_name {
	float: left;
	margin: 70px 0 0 20px;
	color: #fff;
	
}

#preview_submit {
background: #80bb00;
border: 1px solid #80bb00;
-webkit-border-radius: 5px;
border-radius: 5px;


}

.

/* PENDING SONG STATE */

.pending_round_status {
width: 600px;
margin: 0x auto !important; 
}

.pending_song {
width: 600px;
height: 180px;
margin: 0px auto;
padding: 20px 10px;
clear: both;
background: #252525;
-webkit-border-radius: 5px;
border-radius: 5px;
}

.pending_song .pending_song_left {
	float: left;
	width: 300px;
}

.pending_song .pending_song_right {
	float: right;
	width: 150px;
	height: 150px;
	border: 1px solid #fff;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #000;

}


#question {
margin: -20px 0px -60px 0px;

}


/* VOTING STATE */
.voting_wrapper {
	width: 620px;
	margin: 90px auto;
	background:#252525;
	border: 1px solid #000;
	-webkit-border-radius: 5px;
}


.voting_left {
	width: 420px;
	float: left;
}


.voting_right {
	width: 160px;
	padding: 15px;
	height: 100%;
	position: relative;
	text-align:center;
	float: right;
	background-color: #000;
	-webkit-border-radius: 0px 0px 5px 0px;
	border-radius: 0px 0px 5px 0px;

}

.voting_submission_text {
margin: 40px 0 0 0;

}

.your_song_submission {
	width: 140px;
	margin: 0px auto;	
	height: 140px;
	border: 1px solid #fff;
	-webkit-border-radius: 5px;
	border-radius: 5px;

}

.secondary_copy {
width: 100%;
padding: 10px 20px;
}  		

.internal_copy{
font-size: 10pt;
}

.internal_copy_two{
font-size: 10pt;
margin: 30px 0px;
}

.internal_copy_three{
font-size: 10pt;
padding: 4px 10px;
}

.internal_copy_four {
font-size: 14pt;
color: #fff;
padding: 20px 20px;
}











/* Song List Div */

#song_list {
}

#song_list ul {
margin: 0 0 0 8px;
}

li.song_container {
	width: 135px;
	padding: 4px 13px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.play_song {
width: 150px;
height: 150px;


}


.vote img {


}

/* Player List Div */

#player_list {
width: 100%;
margin: 15px 0px;
height: 200px;
text-align:center;
}



#player_list li {
padding: 0px 6px;
}

.avatar img{
width: 100%;
height: 100%;
}

li.player {
width: 100px;
height: 100px;
display: inline-block;
}



/* Question to individual */.


p.question {
color: #fff;
margin: 0px 0px 0px 0px;
}




/* Enemeies Block  */
.enemies {
margin: 40px 0 0 0;
}

form.enemy_block {
margin: 10px 0 0 0;
padding: 10px 0px 0px 0px;

}


input.enemy {

margin: 10px 0px 10px 0px;

}

img.thumb {
width: 20px;
height: 20px;
}


/* ----- WIN SCREEN ----- */

.head {
	left: -60px;
	top: 120px;
	display: none;
	position:absolute;
	z-index: 1;


}

.ninja {
  left: 0px;
  top: 120px;
  display: none;
  position: absolute;
  z-index: 0;

}


.win_text{
display: none;
top: 40px;
background: #252525;
float: right;
position: absolute;
z-index: 2


/* ----- END OF WIN SCREEN -----  */


/* RULES */


#rules {
text-align:left;
width: 70%;
margin: 0px auto;

}


/* END OF RULES */



@media only screen and (min-width: 35em) {
  

}

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}



#player {
width: 200px;
height: 200px;

}



#debug {
display: none;

}


#game_dashboard {
display:none;

}


.hithere {
position: absolute;
right: 30px;
margin: 40px 0 0 0;
}


.votebut {

}
